<div class="carne_recibo_do_sacado">

  <div class="carne_sacado_caixa">
    <p><img class="logo" src="%IMAGE_PATH%/%LOGO_BANCO%" alt="logo banco"/></p>
    <h3>SACADO</h3>

    <div class="bloquete bloquete_recibo_do_sacado">
      <div style="width:128px">Vencimento<br/><p>%DATA_VENCIMENTO%</p></div>
      <div style="width:128px">Agência/Código do Cedente<br/><p>%AGENCIA_CODIGO%/%CODIGO_CEDENTE%</p></div>
      <div style="width:128px">Valor documento<br/><p>%VALOR_BOLETO%</p></div>
      <div style="width:128px">(-) Desconto / Abatimentos<br/><p>%DESCONTO_ABATIMENTO%</p></div>
      <div style="width:128px">(-) Outras deduções<br/><p>%OUTRAS_DEDUCOES%</p></div>
      <div style="width:128px">(+) Mora / Multa<br/><p>%MORA_MULTA%</p></div>
      <div style="width:128px">(+) Outros acréscimos<br/><p>%OUTROS_ACRESCIMOS%</p></div>
      <div style="width:128px">(=) Valor cobrado<br/><p>%VALOR_COBRADO%</p></div>
      <div style="width:128px">Nosso número<br/><p>%NOSSO_NUMERO%</p></div>
      <div style="width:128px">Número do documento<br/><p>%NUMERO_DOCUMENTO%</p></div>
      <p class="clear">&nbsp;</p>
    </div>
    
    <h4>Autenticação Mecânica<br/></h4>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="carne_sacado_caixa">
    <p><img class="logo" src="%IMAGE_PATH%/%LOGO_BANCO%" alt="logo banco"/></p>
    <h3>SACADO</h3>

    <div class="bloquete bloquete_recibo_do_sacado">
      <div style="width:128px">Vencimento<br/><p>%DATA_VENCIMENTO%</p></div>
      <div style="width:128px">Agência/Código do Cedente<br/><p>%AGENCIA_CODIGO%/%CODIGO_CEDENTE%</p></div>
      <div style="width:128px">Valor documento<br/><p>%VALOR_BOLETO%</p></div>
      <div style="width:128px">(-) Desconto / Abatimentos<br/><p>%DESCONTO_ABATIMENTO%</p></div>
      <div style="width:128px">(-) Outras deduções<br/><p>%OUTRAS_DEDUCOES%</p></div>
      <div style="width:128px">(+) Mora / Multa<br/><p>%MORA_MULTA%</p></div>
      <div style="width:128px">(+) Outros acréscimos<br/><p>%OUTROS_ACRESCIMOS%</p></div>
      <div style="width:128px">(=) Valor cobrado<br/><p>%VALOR_COBRADO%</p></div>
      <div style="width:128px">Nosso número<br/><p>%NOSSO_NUMERO%</p></div>
      <div style="width:128px">Número do documento<br/><p>%NUMERO_DOCUMENTO%</p></div>
      <p class="clear">&nbsp;</p>
    </div>

    <h4>Autenticação Mecânica<br/></h4>
    <div class="clear">&nbsp;</div>
  </div>

</div><!-- recibo_do_sacado -->