<div class="instrucoes">

  <h1>Instruções de Impressão</h1>

  <ul>
    <li>
      Imprima em impressora jato de tinta (ink jet) ou
      laser em qualidade normal ou alta (Não use modo econômico).
    </li>
    <li>
      Utilize folha A4 (210 x 297 mm) ou
      Carta (216 x 279 mm) e margens mínimas
      à esquerda e à direita do formulário.
    </li>
    <li>
      Corte na linha indicada. Não rasure, risque,
      fure ou dobre a região onde se encontra o código de barras.
    </li>
    <li>
      Caso não apareça o código de barras no final,
      clique em F5 para atualizar esta tela.
    </li>
    <li>
      Caso tenha problemas ao imprimir, copie a
      seqüencia numérica abaixo e pague no caixa
      eletrônico ou no internet banking:
    </li>
  </ul>

  <p class="linha_digitavel">
  Linha Digitável: &nbsp; {% if linhaDigitavel is defined %}{{ linhaDigitavel }}{% endif %}<br/>
  Valor: &nbsp;&nbsp;R$ {% if boletoData.valorBoleto is defined %}{{ boletoData.valorBoleto }}{% endif %}
  </p>

</div>
